:root {
  --theme-color: 243, 243, 243;
  --text-color: 0, 0, 0;

  /* 组件主题色 */
  --app-background-color: #ffffff;
  --app-color: 0, 0, 0;
  --app-hover-background-color: #f6f6f6e8;
  --app-hover-color: #5b5b5b;
  --app-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px -1px, rgba(0, 0, 0, 0.06) 0px 2px 2px -1px;
  --app-highlight-background-color: #07cddb;
  --app-highlight-hover-background-color: #06c6d3;
  --app-highlight-text-color: #ffffff;
  --app-card-content-background-color: #ffffff;
  --app-card-footer-background-color: #f3f3f3;

}

html[data-theme="light"] {
  /* 亮 */
  --theme-color: 243, 243, 243;
  --text-color: 0, 0, 0;

  --app-background-color: #ffffff;
  --app-color: 0, 0, 0;
  --app-hover-background-color: #f6f6f6e8;
  --app-hover-color: #5b5b5b;
  --app-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px -1px, rgba(0, 0, 0, 0.06) 0px 2px 2px -1px;
  --app-highlight-text-color: #ffffff;
  --app-card-content-background-color: #ffffff;
  --app-card-footer-background-color: #f3f3f3;
}

html[data-theme="dark"] {
  /* 暗 */
  --theme-color: 32, 32, 32;
  --text-color: 255, 255, 255;

  --app-background-color: #2d2d2d;
  --app-color: 255, 255, 255;
  --app-hover-background-color: #3e3e3e;
  --app-hover-color: #d0d0d0;
  --app-shadow: rgba(255, 255, 255, 0.4) 0px 2px 3px -1px, rgba(255, 255, 255, 0.2) 0px 2px 2px -1px;
  --app-highlight-text-color: #000000;
  --app-card-content-background-color: #2b2b2b;
  --app-card-footer-background-color: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  background-color: rgba(67, 67, 67, 0.197);
  background-color: rgba(var(--theme-color), 0.7);
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(var(--theme-color), 0.7);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #bababaa9;
}

.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}